/* @config "../../tailwind.config.mjs"; */

/* Imports in this order not at top of file, otherwise tailwind base styles will overide */
/* https://tailwindcss.com/docs/using-with-preprocessors#build-time-imports  */

@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import './buttons.css';

@import 'tailwindcss/utilities';

@layer base {
	:root {
		--gg-primary-color: 255 126 3;
		--gg-secondary-color: 191 193 192;
		--gg-accent-color: 2 255 255;
		--bg-primary: #f7f6f4;
		--bg-secondary: #ffffff;
		--text-default: rgb(16 16 16);
		--text-muted: rgb(16 16 16 / 66%);
	}
}

@layer components {
	.bg-base {
		background-color: var(--bg-primary);
	}

	.bg-light {
		background-color: var(--bg-secondary);
	}
}
