---
import About from '@components/About.astro';
import CallToAction from '@components/CallToAction.astro';
import Contact from '@components/Contact.astro';
import Hero from '@components/Hero.astro';
import Services from '@components/Services.astro';
import Stats from '@components/Stats.astro';
import Testimonials from '@components/Testimonials.astro';
import Work from '@components/Work.astro';
import siteData from '@config/siteData.ts';

import Layout from '@/layouts/Layout.astro';
---

<Layout title={siteData.title} description={siteData.description}>
	<main class='bg-page'>
		<Hero />
		<About />
		<Stats />
		<Services />
		<Work />
		<CallToAction />
		<Testimonials />
		<Contact />
	</main>
</Layout>
