---
import Logo from '@assets/images/shieldlogo.png';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import Button from './Button.astro';
import Card from './Card.astro';

interface CardInfo {
	icon: string;
	title: string;
	content: string;
}

const aboutData: CardInfo[] = [
	{
		icon: 'verified',
		title: 'Compliant, licensed, and insured',
		content:
			"When you entrust us with your gutter and solar panel cleaning needs, you're assured of our full compliance, licensing, and insurance. Your property is in safe hands with our experienced, reliable, and professional team."
	},
	{
		icon: 'verified',
		title: 'Reliable local expertise',
		content:
			'As locals, we understand the unique challenges of gutter and solar panel cleaning in Devonport, Tasmania. Count on us to deliver personalised services tailored to your specific needs.'
	},
	{
		icon: 'verified',
		title: 'We service all properties',
		content:
			'Whether you need cleaning for your home, office, retail space, or industrial property, we have the expertise and equipment to handle projects of all sizes.'
	},
	{
		icon: 'verified',
		title: 'Multi-storey property specialists',
		content:
			"The height of your property won't deter us from doing our job safely and efficiently. The Gutter Gladiators team is equipped to handle multi-storey buildings, ensuring every inch is thoroughly cleaned."
	}
];
---

<div class='bg-base py-16 sm:py-24' id='about'>
	<div class='mx-auto max-w-7xl px-6 lg:px-8'>
		<div class='gap-8 lg:flex'>
			<div class='mx-auto lg:mx-0 lg:max-w-2xl'>
				<h2 class='mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl'>
					Call the Professionals <br /> - Gutter Gladiators
				</h2>
				<p class='mt-6 text-gray-600 sm:text-xl'>
					Do you have clogged gutters causing water damage to your property?
				</p>
				<p class='mt-1 text-gray-600 sm:text-xl'>
					Are your solar panels losing efficiency because of the buildup of dirt and debris?
				</p>
				<p class='mt-1 text-gray-600 sm:text-xl'>
					Reach out to Gutter Gladiators for professional and reliable cleaning services tailored to
					your requirements.
				</p>

				<!-- <div class='mt-6 flex items-center gap-2'>
					<Icon name='clock' class='text-3xl' />
					<span class='sm:text-lg'> Speedy Services with great availability </span>
				</div> -->
				<!-- <div class='mt-6 hidden items-end gap-8 sm:flex'>
					<Button text='0400 000 000' variant='primary' icon='phone-r' size='lg' />
					<Button text='Get a quote' variant='outline' icon='arrow-r' size='lg' />
				</div>

				<div class='mt-6 flex items-end gap-4 sm:hidden lg:justify-center'>
					<Button text='0400 000 000' variant='primary' icon='phone-r' />
					<Button text='Get a quote' variant='outline' icon='arrow-r' />
				</div> -->

				<div
					class='s mt-12 flex w-full flex-col items-center justify-start gap-4 smMob:flex-row sm:justify-start'
				>
					<Button
						text='0400 000 000'
						href='tel:0400000000'
						variant='primary'
						class='w-full sm:h-14 sm:w-auto sm:text-lg'
					>
						<Icon name='phone-r' />
					</Button>
					<Button
						text='Get a quote'
						href='#contact'
						variant='outline'
						icon='arrow-r'
						class='w-full sm:h-14 sm:w-auto sm:text-lg'
					>
						<Icon name='arrow-r' />
					</Button>
				</div>
			</div>

			<div class='ml-auto hidden justify-center lg:flex lg:items-center'>
				<Image src={Logo} alt='logo' width={300} />
			</div>
		</div>

		<h2 class='h2 mt-16'>Why Choose Gutter Gladiators</h2>

		<div class='grid gap-4 pt-12 sm:grid-cols-2 lg:grid-cols-4'>
			{
				aboutData.map(({ icon, title, content }) => (
					<Card icon={icon} title={title} content={content} />
				))
			}
		</div>
	</div>
</div>
