---
import { Icon } from 'astro-icon/components';

interface Props {
	text: string[];
	location?: string;
}

const { text, location } = Astro.props;
---

<div
	className='relative flex justify-between truncate bg-primary px-3 py-2 text-sm font-medium text-default dark:border-b dark:bg-transparent'
>
	<ul className='hidden space-x-4 text-default lg:flex'>
		{
			text.map((t) => (
				<li className='flex items-center space-x-2'>
					<Icon name='arrow-r' />
					<span>{t}</span>
				</li>
			))
		}
	</ul>

	<div className='flex items-center space-x-2'>
		<Icon name='arrow-r' />
		<p className='text-default'>{location}</p>
	</div>
</div>
