---
import fascia from '@assets/images/fascia.jpg';
import { Icon } from 'astro-icon/components';

import Button from './Button.astro';
---

<section class='bg-hero relative' style={`background-image: url(${fascia.src})`}>
	<!--Overlay -->
	<div
		class='hero-overlay absolute left-0 top-0 size-full bg-gradient-to-r from-zinc-800/60 to-zinc-900'
	>
	</div>

	<!--Content -->
	<div
		class='container relative flex flex-col justify-between gap-6 md:flex-row'
		data-aos='zoom-in'
	>
		<!-- <div class='hero-overlay absolute left-0 top-0 size-full opacity-50 mix-blend-overlay'></div> -->
		<div class='flex flex-col items-center justify-evenly text-lg text-white md:items-start'>
			<div class='mb-6 inline-flex items-center gap-2'>
				<Icon name='warning' class='text-7xl' />
				<p class='h3 font-bold'>Attention</p>
			</div>
			<h3 class='h2 mb-6 text-center text-white md:text-start'>Act now to protect your property</h3>
			<div>
				<ul
					class='mb-6 flex max-w-full flex-wrap items-center justify-center gap-4 rounded-sm text-xl text-white *:inline-flex *:items-center *:gap-1 *:font-semibold md:justify-start lg:border lg:border-white lg:p-2'
				>
					<li>
						<Icon name='tick' class='text-primary' />
						<span>Prevent Rust</span>
					</li>
					<li>
						<Icon name='tick' class='text-primary' />
						<span>Reduce Pests</span>
					</li>
					<li>
						<Icon name='tick' class='text-primary' />
						<span>Prevent Water Damage</span>
					</li>
					<li>
						<Icon name='tick' class='text-primary' />
						<span>Reduce Fire Risk </span>
					</li>
				</ul>
			</div>
			<p class='text-center text-lg md:max-w-xl md:text-start md:text-xl lg:max-w-3xl'>
				Don't let clogged gutters cause damage to your property. Contact us today for a free quote
				and let us take care of your gutter and solar panel cleaning needs.
			</p>
		</div>
		<div class='flex flex-col items-center justify-end text-white'>
			<div>
				<span class='inline-flex items-center gap-2 text-xl'>
					<Icon name='tick' class='text-2xl text-primary' />
					We're Available
				</span>
			</div>
			<p class='h3 text-center'>Monday - Friday</p>
			<div
				class='mt-6 flex w-full flex-col items-center justify-center gap-4 smMob:flex-row md:w-auto md:flex-col'
			>
				<Button
					text='0400 000 000'
					href='tel:0400000000'
					variant='primary'
					class='h-14 w-full text-white sm:text-lg'
				>
					<Icon name='phone-r' />
				</Button>
				<Button
					text='Get a quote'
					href='#contact'
					variant='outline'
					icon='arrow-r'
					class='h-14 w-full border-white text-white hover:bg-white hover:text-gray-900 sm:text-lg'
				>
					<Icon name='arrow-r' />
				</Button>
			</div>

			<!-- <div
				class='mt-6 flex flex-col items-center justify-center gap-4 smMob:flex-row sm:justify-center'
			>
				<Button
					text='0400 000 000'
					href='tel:0400000000'
					variant='primary'
					class='w-full sm:h-14 sm:w-auto sm:text-lg'
				>
					<Icon name='phone-r' />
				</Button>
				<Button
					text='Get a quote'
					href='#contact'
					variant='outline'
					icon='arrow-r'
					class='w-full sm:h-14 sm:w-auto sm:text-lg'
				>
					<Icon name='arrow-r' />
				</Button>
			</div> -->
		</div>
	</div>
</section>
