---
import { Icon } from 'astro-icon/components';

interface Props {
	icon: string;
	title: string;
	content: string;
}

const { icon, title, content } = Astro.props;
---

<div class='bg-white shadow'>
	<div class='p-4'>
		<!--Heading -->
		<div
			class='mb-4 inline-flex w-full items-center justify-start gap-4 border-b border-black pb-4'
		>
			<Icon name={icon} class='shrink-0 text-5xl' />
			<h3 class='text-xl capitalize'>{title}</h3>
		</div>

		<!--Content -->
		<div class='mb-4 w-full'>
			<p class='leading-7 text-gray-900'>
				{content}
			</p>
		</div>
	</div>
</div>
