---
import 'swiper/css';
import 'swiper/css/autoplay';
import 'swiper/css/effect-fade';

import { getImage } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import fascia from '@/assets/images/fascia.jpg';
import metalRoof from '@/assets/images/gutters-metal-roof.jpg';
import ute from '@/assets/images/ute.jpg';

import Button from './Button.astro';

const background1 = await getImage({ src: fascia, format: 'webp' });
const background2 = await getImage({ src: metalRoof, format: 'webp' });
const background3 = await getImage({ src: ute, format: 'webp' });
---

<!--Outer Hero container -->
<div class='relative py-16 lg:py-32'>
	<!--Swiper -->

	<div class='swiper swiper-scale-effect absolute left-0 top-0 z-0 size-full'>
		<!-- Additional required wrapper -->
		<div class='swiper-wrapper size-full'>
			<!-- Slides -->
			<div class='swiper-slide'>
				<div class='bg-hero swiper-slide-cover' style=`background-image: url(${background1.src})`>
				</div>
			</div>

			<div class='swiper-slide'>
				<div class='bg-hero swiper-slide-cover' style=`background-image: url(${background2.src})`>
				</div>
			</div>

			<div class='swiper-slide'>
				<div class='bg-hero swiper-slide-cover' style=`background-image: url(${background3.src})`>
				</div>
			</div>
		</div>
	</div>
	<!--Overlay -->

	<div
		class='hero-overlay absolute left-0 top-0 size-full bg-gradient-to-r from-zinc-800/60 to-zinc-900'
	>
	</div>

	<!--Content  -->
	<div
		class='relative mx-auto flex max-w-xl flex-col items-center justify-center gap-6 px-4 py-10 text-white md:max-w-2xl lg:max-w-4xl xl:max-w-6xl'
	>
		<!-- <div class='hero-overlay absolute left-0 top-0 size-full opacity-50 mix-blend-overlay'></div> -->
		<h1
			class='text-center text-4xl font-bold uppercase sm:text-6xl'
			data-aos='fade-up'
			data-aos-delay='.2'
		>
			Professional gutter & solar panel cleaning in Tasmania
		</h1>

		<ul
			class='last:border-r-none hidden gap-4 text-xl font-semibold *:border-r *:pr-4 last:pr-0 sm:inline-flex'
			data-aos='fade-up'
			data-aos-delay='.4'
		>
			<li class=''>Residential</li>
			<li>Commerical</li>
			<li class='border-none'>Industrial</li>
		</ul>

		<p class='max-w-xl text-center font-semibold' data-aos='fade-up' data-aos-delay='.6'>
			Gutter Gladiators is where cutting-edge technology meets customer-focused excellence. When you
			choose us, you get pristine gutters, sparkling solar panels, and 100% satisfaction.
		</p>

		<Button
			data-aos='fade-up'
			data-aos-delay='.8'
			variant='outline'
			href='/#contact'
			class='h-14 border-white text-lg text-white hover:bg-white hover:text-gray-900'
			text='Contact us '
			><Icon name='arrow-r' />
		</Button>
	</div>
</div>

<script>
	import Swiper from 'swiper';
	import { Autoplay, EffectFade } from 'swiper/modules';
	// eslint-disable-next-line

	const swiper = new Swiper('.swiper', {
		direction: 'horizontal',
		autoplay: {
			delay: 5000
		},
		loop: true,
		effect: 'fade',
		fadeEffect: {
			crossFade: true
		},

		modules: [Autoplay, EffectFade]
	});
	// document.addEventListener('DOMContentLoaded', function () {
	// 	const swiper = new Swiper('.swiper', {
	// 		direction: 'horizontal',
	// 		autoplay: {
	// 			delay: 5000
	// 		},
	// 		loop: true,
	// 		effect: 'fade',
	// 		fadeEffect: {
	// 			crossFade: true
	// 		}
	// 	});
	// });
</script>

<style>
	.swiper {
		position: absolute;
		z-index: 0;
	}

	.swiper-slide-cover {
		transition: 10s ease-out;
		transform: scale(1);
	}

	.swiper-slide-active .swiper-slide-cover {
		transform: scale(1.2);
	}

	.swiper-slide-cover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
</style>
