---
import { Icon } from 'astro-icon/components';
---

<button
	type='button'
	class='motion-reduce:bounce-up !fixed bottom-5 end-5 hidden rounded-full bg-primary p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-500 ease-in-out hover:bg-primary/80 hover:shadow-lg focus:bg-primary focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary active:shadow-lg'
	id='top-button'
>
	<Icon name='arrow-t' class='text-2xl' />
</button>

<style>
	.bounce-up {
		animation: bounce 1s infinite;
	}

	@keyframes bounce {
		0%,
		100% {
			transform: translateY(20%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: translateY(0);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
</style>

<script>
	// Get the 'to top' button element by ID
	const topButton = document.getElementById('top-button');

	const scrollFunction = () => {
		if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
			topButton?.classList.remove('hidden');
		} else {
			topButton?.classList.add('hidden');
		}
	};

	// Function to scroll to the top of the page smoothly
	const backToTop = () => {
		window.scrollTo({
			top: 0,
			behavior: 'smooth'
		});
	};

	topButton?.addEventListener('click', backToTop);
	window.addEventListener('scroll', scrollFunction);
</script>
