---
import { Icon } from 'astro-icon/components';
---

<div class='bg-primary py-12'>
	<div class='mx-auto max-w-7xl px-6 lg:px-8'>
		<div class='mx-auto max-w-2xl lg:max-w-none'>
			<ul
				class='grid grid-cols-2 items-center justify-center gap-6 gap-y-12 overflow-hidden rounded-2xl text-center text-default sm:grid-cols-2 md:gap-x-8 lg:grid-cols-4'
			>
				<li class='flex grow-0 flex-col items-center justify-center gap-2 lg:flex-row'>
					<div class='rounded-full'>
						<Icon name='verified' class='text-6xl' />
					</div>
					<p class='text-xl tracking-tight'>100% Satisfaction Guranteed</p>
				</li>

				<li class='flex-start flex grow-0 flex-col items-center gap-2 lg:flex-row'>
					<div class='rounded-full'>
						<Icon name='smiley-face' class='text-6xl' />
					</div>
					<p class='text-xl tracking-tight'>Excellent Customer Service</p>
				</li>

				<li class='flex grow-0 flex-col items-center justify-center gap-2 lg:flex-row'>
					<div class='rounded-full'>
						<Icon name='roof' class='text-6xl' />
					</div>
					<p class='text-xl tracking-tight'>Years of experience in gutter cleaning</p>
				</li>

				<li class='flex grow-0 flex-col items-center justify-center gap-2 lg:flex-row'>
					<div class='rounded-full'>
						<Icon name='apartment' class='text-6xl' />
					</div>
					<p class='text-xl tracking-tight'>We can handle multi-story properties</p>
				</li>
			</ul>
		</div>
	</div>
</div>
