---
// data
import testimonialData from '@config/testimonialData';

// components
import TestimonialCard from './TestimonialCard.astro';
---

<section id='faq2' class='bg-light'>
	<div class='container'>
		<div class='flex justify-center'>
			<h2 class='h1 flex gap-1 text-center'>Customer Reviews</h2>
		</div>
		<div class='mx-auto mt-20 grid gap-6 gap-y-20 md:grid-cols-3'>
			{testimonialData.map((testimonial) => <TestimonialCard {...testimonial} />)}
		</div>
	</div>
</section>
