---
// style import

import '@/styles/global.css';

import type { ImageMetadata } from 'astro';

import BaseHead from './BaseHead.astro';

interface Props {
	title: string;
	description: string;
	image?: ImageMetadata;
	noindex?: boolean; // you need to opt-in to no indexing, as it hides the page from search engines
}

const { title, description, image, noindex = false } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead
			title={title}
			description={description}
			image={image || undefined}
			noindex={noindex}
		/>
	</head>
	<body class='bg-light'>
		<main>
			<slot />
		</main>

		<script>
			// eslint-disable-next-line
			import AOS from '@js/aos/aos';

			// runs on initial page load
			AOS.init({ once: true, duration: 0.75, distance: 15, offset: 150 });

			// runs on view transitions navigation
			// document.addEventListener('astro:after-swap', AOS.refreshHard);
		</script>
	</body>
</html>
