---
// style import

import '@/styles/global.css';

import ScrollBtn from '@components/ScrollBtn.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />

		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<ScrollBtn />
	</body>
</html>

<script>
	// eslint-disable-next-line
	import AOS from '@js/aos/aos';

	// runs on initial page load
	AOS.init({ once: true, duration: 0.75, distance: 15, offset: 120 });

	// runs on view transitions navigation
	document.addEventListener('astro:after-swap', AOS.refreshHard);
</script>
